@use 'src/themes/z-index';

.background_container,
.background {
  position: absolute;
  z-index: z-index.$behind;
  width: 200%;
  height: 200%;
  pointer-events: none;
}

.background {
  transition: clip-path 2s ease-out;
  clip-path: circle(0%);
  will-change: clip-path;
}

.background_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
