.section {
  &_container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0 3em;
  }
}

@media screen and (max-width: 40em) {
  .section_container {
    margin: 0;
  }
}
