@use 'src/themes/z-index';

.transition_container,
.transition,
.transition_end {
  top: 0;
  left: 0;
  z-index: z-index.$layer-3;
  width: 200%;
  height: 200%;
  pointer-events: none;
}

.transition_container {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.transition,
.transition_end {
  position: absolute;
  clip-path: circle(0%);
  will-change: clip-path;
}

.transition {
  transition: clip-path 1s ease-out;
}

.transition_end {
  z-index: z-index.$layer-3 + 1;
  transition: clip-path 2s ease-out;
}
