@use 'src/themes/z-index';

.transition_container,
.transition {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z-index.$layer-3;
  pointer-events: none;
}

.transition_container {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.transition {
  width: 200%;
  height: 200%;
  transition: clip-path 1s ease-out;
  clip-path: circle(0%);
  will-change: clip-path;
}
