@use 'src/themes/z-index';

.pages_stack {
  z-index: z-index.$layer-2;
  perspective: 1200px;
  perspective-origin: 50% -50%;
  transition: transform 0.45s;
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);

  ::-webkit-scrollbar {
    display: none;
  }
}

.page__title {
  display: none;
  padding: 0.5em;
}

.page {
  &:hover,
  &:focus {
    .page__title {
      display: block;
    }
  }
}
