@use 'src/themes/z-index';

.shadow {
  z-index: z-index.$default;

  .web_component {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    // 542px is the height of the header and 4rem is for the margin of the component
    height: calc(100svh - 542px - 4rem);
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    pointer-events: none;
    inset: 0;
  }

  &::before {
    background: linear-gradient(130deg, #00f, #0d63f8, #90caf9, #bdd5fb);
    background-size: 200% 200%;
    opacity: 0.1;
    filter: blur(24px);
    transition: opacity 0.3s ease-in-out, filter 0.6s ease-in-out;
    animation: gradient 6s infinite linear;
  }

  &:focus-visible::before,
  &:focus-within::before,
  &:hover::before {
    filter: blur(10px);
  }

  &::after {
    background: inherit;
  }

  @media screen and (min-width: 900px) {
    &::before {
      margin: -0.25rem;
    }
  }

  @media screen and (min-width: 1200px) {
    .web_component {
      height: 66dvh;
    }
  }

  @media screen and (min-width: 2500px) {
    .web_component {
      height: 60dvh;
    }
  }

  @media screen and (min-width: 3840px) {
    .web_component {
      height: 50dvh;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    opacity: 0.25;
  }

  50% {
    background-position: 100% 50%;
    opacity: 0.4;
  }

  100% {
    background-position: 0% 50%;
    opacity: 0.25;
  }
}
