.web_component {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 2em 0;

  @media screen and (max-width: 40em) {
    margin: 2em 0 0;
  }
}

.grid_container {
  .grid_item {
    display: flex;
    justify-content: center;
  }
}
